cairocffi==0.7.2
cffi==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.4
django-toolbelt==0.0.1
gunicorn==19.3.0
packaging==15.3
ply==3.7
psycopg2==2.6.1
pycparser==2.14
pygobject==3.16.2
pyxdg==0.25
qtile==0.10.1
six==1.9.0
static3==0.6.1
stevedore==1.8.0
team==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
xcffib==0.3.6
whitenose==2.0